#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

fieldset {
  @apply border border-solid border-gray-300 p-3 rounded;
}

fieldset legend {
  /* @apply text-sm; */
}
